- if Workarea::Zipco.config.marketing_assets_key.present?
  %script{:src => "https://static.zipmoney.com.au/lib/js/zm-widget-js/dist/zip-widget.min.js", :type => "text/javascript"}
  %div{data: {"env": "#{Workarea::Zipco.config.marketing_assets_env}", "zm-merchant": "#{Workarea::Zipco.config.marketing_assets_key}" }}
  %div{data: {"zm-asset": "landingpage", "zm-widget": "inline"}}
